* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

body {
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #E9EDEE;
}

/* sezione header, barra nav e logo */

header {
    width: 100%;
    background-color: #222F3F;
    padding: 0.8em 0;
}

#logo1 {
    margin-bottom: 0;
    padding-left: 2.7em;
    display: inline-block;
    width: 10vw;
    background-color: #222F3F;
}

nav {
    background-color: #364757;
}

nav ul li {
    background-color: #364757;
    padding: 0.4em;
    font-size: 0.8em;
    color: #F7FEFE;
    text-decoration: none;
    display: inline-block;
    justify-content: space-between;
}

/* Sezione main con relativi prodotti */

section {
    margin-left: 2.8em;
    margin-right: 2.8em;
}

h1 {
    font-size: 1em;
    padding: 0.5em;
    color: #FFF3CD;
    background-color: #F56600;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    text-align: center;
}

.section2 {
    margin-bottom: 1.7em;
    margin-top: 1.4em;
    padding: 3em;
    height: 10em;
    color: #F7FEFE;
    text-align: center;
    background-image: url("/Amazon page/assets/Imgs/bg-image.png");
}

p {
    margin-top: 1.8em;
}

.section3 {
    background: #FFFFFF;
    width: 90%;
    text-align: left;
    display: inline-block;
}

.containerimg1 {
    width: 10vw;
    display: inline-block;
}

.containerimg2 {
    width: 10vw;
    display: inline-block;
}

.containerimg3 {
    width: 10vw;
    display: inline-block;
}

.containerimg4 {
    width: 10vw;
    display: inline-block;
}

span {
    font-size: 0.8em;
    padding-left: 1em;
    color: #1A6979;
    display: inline-block
}

aside,
h4,
a {
    color: #F7FEFE;
    width: 100vw;
    background-color: #364757;
    text-align: center;
    display: inline-block;
}

aside, a {
    padding: 0.5em;
    font-size: 1em;
}


/* Footer */

footer {
    padding: 1.5em 0;
    width: 100%;
    background-color: #222F3F;
}

#logo2 {
    padding: 1.2em;
    margin-top: 0.8em;
    text-align: center;
    margin-left: 45vw;
    display: inline-block;
    width: 12vw;
    background-color: #222F3F;
}